
<h1>Detail</h1>

<ul>
  
    <li>
      <% if @article.file.attached? %>
        <%= image_tag(@article.file) %>
      <% end %>

      <%= @article.id %> <br/>
      <%= @article.title %> <br/>
      <small> <%= @article.body %> </small> <br/>
      <small> <%= @article.created_at %> </small>
      
      <% if @article.file.attached? %>
        <%= link_to "Download File", url_for(@article.file) %>
      <% end %>

    </li>
    
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li>
      <%= link_to "Destroy", article_path(@article), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
    </li>

  
</ul>
Our blog has <%= @article.comments.public_count %> public comments and counting! <br/>
Our blog has <%= @article.comments.archived_count %> delete comments and counting!
<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>